argon2-cffi==23.1.0
beautifulsoup4==4.12.3
Flask==3.1.0
Flask_Cors==5.0.0
line_bot_sdk==3.13.0
PyJWT
pymongo==4.10.1
pytest==8.3.3
python-dotenv==1.0.1
Requests==2.32.3
websockets==14.1
yfinance==0.2.43
gunicorn 